.Lobby-PositionTitle {
  position: absolute;
  top: 12.5vh;
  left: 10vw;
  text-align: center;
  margin: auto;
  width: 80vw;
}

.Lobby-PositionLobby {
  position: absolute;
  top: 20vh;
  left: 10vw;
  text-align: center;
  margin: auto;
  width: 80vw;
}

.gradient-text {
  background-color: #f3ec78;
  background-image: linear-gradient(45deg, #f3ec78, #af4261);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.center-div {
  width: 60vw;
  padding: 0px;
  margin: auto;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 8px;
}
.color-textt {
  color: black;
}

.move-down1 {
  background-color: white;
  /* background-image: url(https://user-images.githubusercontent.com/51216389/87076088-a2c31c00-c1f7-11ea-9a18-e527bd1198cf.gif); */
  background-repeat: no-repeat;
  /* position: absolute;
  top: 0vh;
  left: 0vw; */
  width: 100vw;
  height: 100vh;
  z-index: -2;
  opacity: 0.8;
  max-width: 100%;
}

/* .actual-stuff {
  color: black;
  position: absolute;
  top: 8vh;
  left: 0vw;
} */

.imagee {
  /* src: url(https://user-images.githubusercontent.com/51216389/87076088-a2c31c00-c1f7-11ea-9a18-e527bd1198cf.gif); */
  position: fixed;
  top: 77vh;
  left: 88vw;
  width: 20vw;
  max-width: 10%;
  z-index: -3;
}
img {
  max-width: 100%;
}
/* .right-thing {
  position: absolute;
  width: 30vw;
  height: 40vh;
  top: 8vh;
  left: 20vw;
  z-index: -4;
} */

.playerlist {
  position: absolute;
  top: 50vh;
  left: 20vw;
  width: 60vw;
  text-align: center;
}

.butonn {
  margin: 16px;
  display: block;
  height: 16px;

  /* outline: 0; */

  width: 50px;
  border: 20px;
  cursor: pointer;

  top: 50vh;
  /* text-decoration: none; */

  color: #000;
  background: #fff;
  /* line-height: 32px; */
  border-radius: 10px;
  padding: 24px;
  font-size: 16px;
  font-weight: 600;
  box-shadow: rgb(255, 198, 0) -2px -2px 0px 2px, rgb(246, 84, 174) 0px 0px 0px 4px,
    rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
  transition: all 0.2s;
}

.hover {
  box-shadow: rgb(246, 84, 174) -2px -2px 0px 2px, rgb(255, 198, 0) 0px 0px 0px 4px,
    rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
  transform: scale(1.01);
}

.butonntwo {
  margin: 16px;
  /* display: block; */
  height: 16px;
  position: aboslute;
  left: 200vw;

  /* outline: 0; */
  min-width: 200px;
  width: 80px;
  height: 24px;
  border: 20px;
  cursor: pointer;
  /* text-decoration: none; */

  color: #000;
  background: #fff;
  line-height: 32px;
  border-radius: 10px;
  padding: 24px;
  font-size: 16px;
  font-weight: 600;
  box-shadow: rgb(255, 198, 0) -2px -2px 0px 2px, rgb(246, 84, 174) 0px 0px 0px 4px,
    rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
  transition: all 0.2s;
}

.buttonstwo {
  position: absolute;
  width: 50vw;
  height: 50vh;
  left: 51vw;
  top: 30vh;
}

.move-downagain {
  position: absolute;
  top: 25vh;
  left: 20vw;
}

.Lobby-Button1 {
  position: absolute;
  top: 30%;
  left: 45%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.Lobby-Button2 {
  position: absolute;
  top: 30%;
  left: 55%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.Winner-Show {
  position: absolute;
  top: 35vh;
  left: 10vw;
  text-align: center;
  margin: auto;
  width: 80vw;
}
