/* Fill me in :) */

.gradient-text {
  background-color: #f3ec78;
  background-image: linear-gradient(45deg, #f3ec78, #af4261);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.center-div {
  width: 800px;
  margin: auto;
  text-align: center;
  padding-top: 50vh;
  margin-bottom: 8px;
  color: white;
}

.text-color {
  color: white;
}

.tab {
  background-color: rgba(49, 58, 66, 0.75);
  justify-content: center;
  min-height: 100vh;
  padding-top: 25vh;
}

.Skeleton-Button {
  margin: 8px;
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  color: #000;
  background: #fff;
  line-height: 5px;
  border-radius: 10px;
  padding: 10px;
  font-size: 10px;
  font-weight: 600;
  box-shadow: rgb(255, 198, 0) -2px -2px 0px 2px, rgb(246, 84, 174) 0px 0px 0px 4px,
    rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
  transition: all 0.2s;
}

.hover {
  box-shadow: rgb(246, 84, 174) -2px -2px 0px 2px, rgb(255, 198, 0) 0px 0px 0px 4px,
    rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
  transform: scale(1.01);
}

.move-down-Skeleton {
  position: absolute;
  top: 40vh;
  left: 40vw;
}

.move-down-Join {
  position: absolute;
  top: 20vh;
}
