.CreateLobby-center {
  margin: auto;
  text-align: center;
}

.text-color {
  color: white;
}

.paddingmove {
  padding-bottom: 10px;
}

.CreateLobby-TextEntry {
  padding: 5px 12px;
  font-size: 14px;
  line-height: 20px;
  color: #24292e;
  vertical-align: middle;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: right 8px center;
  border: 1px solid #e1e4e8;
  border-radius: 6px;
  outline: none;
  box-shadow: rgba(225, 228, 232, 0.2) 0px 1px 0px 0px inset;
}

.focus {
  border-color: #010407;
  outline: none;
  box-shadow: rgba(255, 255, 255, 0.3) 0px 0px 0px 3px;
}

.CreateLobby-Button {
  margin: 8px;
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  color: #000;
  background: #fff;
  line-height: 5px;
  border-radius: 10px;
  padding: 10px;
  font-size: 10px;
  font-weight: 600;
  box-shadow: rgb(255, 198, 0) -2px -2px 0px 2px, rgb(246, 84, 174) 0px 0px 0px 4px,
    rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
  transition: all 0.2s;
}

.hover {
  box-shadow: rgb(246, 84, 174) -2px -2px 0px 2px, rgb(255, 198, 0) 0px 0px 0px 4px,
    rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
  transform: scale(1.01);
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.Duplicate-Lobbytwo {
  position: absolute;
  top: 40vh;
  left: -2vw;
  width: 20vw;
  height: 10vh;
  background: rgba(114, 89, 255, 0.2);
  text-align: center;
}

.Duplicate-Lobby-Margin-Move {
  margin-top: 1.5vh;
}

.card-container {
  background: transparent;
  border-radius: 20px;
  box-shadow: 0px 10px 20px -10px rgb(0 0 0 / 75%);
  color: #fa0505;
  padding-top: 30px;
  position: absolute;
  top: 90vh;
  left: 35vw;
  width: 30vw;
  max-width: 100%;
  text-align: center;
  z-index: 100;
}
