.CreateLobby-center {
  margin: auto;
  text-align: center;
}

.text-color {
  color: white;
}

.CreateLobby-TextEntry {
  padding: 5px 12px;
  font-size: 14px;
  line-height: 20px;
  color: #24292e;
  vertical-align: middle;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: right 8px center;
  border: 1px solid #e1e4e8;
  border-radius: 6px;
  outline: none;
  box-shadow: rgba(225, 228, 232, 0.2) 0px 1px 0px 0px inset;
}

.focus {
  border-color: #010407;
  outline: none;
  box-shadow: rgba(255, 255, 255, 0.3) 0px 0px 0px 3px;
}

.CreateLobby-Button {
  margin: 8px;
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  color: #000;
  background: #fff;
  line-height: 5px;
  border-radius: 10px;
  padding: 10px;
  font-size: 10px;
  font-weight: 600;
  box-shadow: rgb(255, 198, 0) -2px -2px 0px 2px, rgb(246, 84, 174) 0px 0px 0px 4px,
    rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
  transition: all 0.2s;
}

.hover {
  box-shadow: rgb(246, 84, 174) -2px -2px 0px 2px, rgb(255, 198, 0) 0px 0px 0px 4px,
    rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
  transform: scale(1.01);
}
