/* initialize the counter */
body {
  counter-reset: demoCounter;
}

/* increment the counter anywhere there's a div*/
label {
  counter-increment: demoCounter;
}

/*display the value of the counter before the element*/
label::before {
  content: counter(demoCounter) ". ";
}

label {
  font-size: 40px;
}

.Leaderboard-Center {
  display: inline-block;
  text-align: left;
}

.leaderObject {
  display: flex;
  place-items: center;
  background-color: white;
  text-align: center;
  /* flex: 0 1 200px; */
  border: 100px;
  border-color: green;
}

.leaderlist {
  text-align: left;
  place-items: left;
  background: white;
}
