.NavBar-container {
  padding: var(--m) var(--m);
  background: rgba(72, 5, 228, 0.75);
  position: fixed;
  width: 100vw;
  /* background: linear-gradient(
    90deg,  
    rgba(2, 0, 36, 1) 0%,
    rgba(57, 109, 255, 1) 32%,
    rgb(0, 4, 255) 100%
  ); */
}

.NavBar-title {
  color: var(--white);
  font-size: 20px;
}

.NavBar-linkContainer {
  margin-left: var(--l);
}

.NavBar-link,
.NavBar-link:visited {
  color: var(--white);
  opacity: 0.6;
  text-decoration: none;
}

.NavBar-link:hover {
  opacity: 0.8;
}

.NavBar-link + .NavBar-link {
  margin-left: var(--m);
}

.NavBar-loginbutton {
  position: absolute;
  top: 16px;
  right: 10px;
}

body {
  font-family: Inter;
}
