.playerdiv {
  display: flex;
  place-items: center;
  background-color: rgb(255, 255, 255);
  text-align: center;
  flex: 0 1 200px;
  border-style: solid;
  border-radius: 16px;

  border-color: darkorange;
  border-width: 2px;
  width: auto;
  height: auto;
  margin: 8px;
  justify-content: center;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
}
